.text-center{
    text-align: center;
}

.heading-medium{
    font-size: 1.5rem;
}

.heading-small{
    font-size: 1.25rem;
}

.heading-verysmall{
    font-size: 1rem;
}
.italik{
    font-style: italic;
}

.btn{
    border-radius: 3px;
}

.aralikli{
    letter-spacing:0.27rem;
}

.arama-giris-buton{
    margin: 3px;
}

.liste{
    list-style: none;
}